@model MeowDating.Models.CatProfile


<h2>Rediģēt kaķi</h2>

@using (Html.BeginForm("EditCats", "Cats", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.CatId)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">Cats name</label>
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.CatName, new { htmlAtributes = new { @class = "from control" } })
                @Html.ValidationMessageFor(model => model.CatName, "", new { @class = "text danger" })

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Cats Age</label>
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.CatAge, new { htmlAtributes = new { @class = "from control" } })
                @Html.ValidationMessageFor(model => model.CatAge, "", new { @class = "text danger" })

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Cats image</label>
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.CatImage, new { htmlAtributes = new { @class = "from control" } })
                @Html.ValidationMessageFor(model => model.CatImage, "", new { @class = "text danger" })

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Cats description</label>
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.CatDescription, new { htmlAtributes = new { @class = "from control" } })
                @Html.ValidationMessageFor(model => model.CatDescription, "", new { @class = "text danger" })

            </div>
        </div>

        <div class="form-group"></div>


        <input type="submit" value="Saglabāt kaķi" />
    </div>
}

